{% extends 'base.html' %}

{% block title %}HOME{% endblock %}

{% block content %}
<div class="container content-container" > <!-- definisco nuova classe CSS content-container -->
    <!--    
        logica offerta dal template engine Jinja2 
        i for-loop in Jingia funzionano in modo analogo 
        a quelli di python ed in maniera "indentica"
        di quelli Django
    -->
    <div class="row no-gutters"> <!-- no-gutters elimina padding -->
        <div class="col-md-9 order-md-2">
            {% for p in posts %}
            <div class="single-post-home">
                <h5>
                    <a class="custom-link" href="{{ url_for('post_detail',post_id=p.id) }}">
                        {{ p.title }}
                    </a>
                </h5>
                <p class="p-small-two text-muted">{{ p.created_at.strftime('%d.%m.%Y') }}</p>
                {% if p.description %}
                <p class="p-small-one text-muted mb-0">
                    {{ p.description }}
                </p>
                {% endif %}
                <!-- <p>{{ p.body }}</p> -->
            </div>
            {% endfor %}
        </div>

        <div class="col-md-3 order-md-1">
            {%include 'about_me_snippet.html' %}
        </div>
    </div>



</div>
{% endblock %}